.customerInfoTextFields {

    -fx-background-color:  #386aff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;

}

.background {

    /*-fx-background-color: linear-gradient(180 deg, #00a0ee, #386aff, 50%);*/
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #00a0ee 0%, #386aff 100%)

}